<!DOCTYPE html>
<html>
<head>
    <title>Server Manager</title>
    <meta name="description" content="AoS server Manager">
    <meta name="keywords" content="yep">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename = 'main.js') }}"></script>
</head>

<body>
    <h1>Test Information</h1>
    <p>This is sub info</p>
    <br>
    <div><tag id="vMC"></tag><p>Server: <button onclick="sendStartCommand(0)">Start</button><button onclick="sendStopCommand(0)">Stop</button></p></div>
    <h3>Server Tag</h3>
    <p>Ram Free: <tag id ="ramFree"></tag>GB</p>
    <p>Ram Used: <tag id ="ramUsed"></tag>GB</p>
    <p>Ram Total: <tag id ="ramTotal"></tag>GB</p>
    <p>Ram Percent: <tag id ="ramPercent"></tag>%</p>
    <p>Last Update: <tag id ="updateTime"></tag></p>
</body>

</html>
